h1,
h2,
h3,
h4 {
  font-family: "Poppins" !important;
}

.newFormPage {
  display: grid;
  grid-template-rows: 45px auto auto 1fr;
  gap: 8px;
}

.newFormContainer {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 4fr;
  min-height: 0;
}

.formElementsContainer {
  padding-top: 12px;
  background-color: #f4f7fb;
  border-radius: 10px;
  overflow-y: auto;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}

.smallText {
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

.draggableButtonContainer {
  overflow-y: auto;
  max-height: 90%;
  scrollbar-width: thin;
  position: relative;
  z-index: 1;
}

.formTitleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  gap: 8px;
  border-radius: 10px;
}

.formCanvasContainer {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 8px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 46px;
}

.formDescription {
  font-size: 15px;
  font-weight: 400;
}

.formTitle,
.formDescription {
  padding: 8px 13px;
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
  border: lightgray 1px solid;
}

.canvasStyles {
  border: 2px dashed lightgray;
  max-height: 100%;
  border-radius: 12px;
}

.canvasInnerContainer {
  max-width: 100%;
}

.newFormHeader {
  display: flex;
  justify-content: end;
  align-items: center;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.submitButton,
.cancelButton,
.previewButton,
.disabledButton {
  font-family: "DM Sans";
  width: 117px;
  height: 43px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 21.5px;
}

.disabledButton {
  color: #000000;
  background: #eaebf0;
}

.submitButton {
  color: #ffffff;
  background: #170cb4;
}

.cancelButton {
  color: #170cb4;
  background: #ffffff;
  border: 1px solid #170cb4;
}

.previewButton {
  width: 141px !important;
  color: #ffffff;
  background: #4238d5;
}

.submitButton:hover,
.submitButton:focus {
  outline: 1px solid blue;
  background-color: #2f26b7;
}

.cancelButton:hover,
.cancelButton:focus {
  outline: 1px solid blue;
  background-color: transparent;
}

.previewButton:hover,
.previewButton:focus {
  outline: 1px solid blue;
  background-color: #5b53d6;
}

.formNav {
  font-size: 1rem;
  line-height: 25px;
  display: flex;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #dfe5ee;
}

.activeSection {
  color: #170cb4;
  border-bottom: 1px solid #170cb4;
  margin-right: 10px;
}

.questionsNav,
.responsesNav {
  margin-right: 10px;
}

.textElementsText {
  padding-top: 8px;
}
