/* Mobile Styles */
.page {
  position: relative;
  padding: 24px 12px 8px 18px;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}

/* Desktop Styles */
@media screen and (min-width: 769px) {
  .page {
    padding: 32px;
    padding-right: 18px;
  }

  .title {
    font-size: 2.25rem;
    font-weight: 800;
    position: relative;
    margin-bottom: 16px;
  }
}
