/* Mobile styles */
.layout {
  display: grid;
  grid-template-rows: 80px 1fr;
  min-height: 100dvh;
}

.formLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

/* Desktop styles */
@media screen and (min-width: 769px) {
  .layout {
    grid-template-columns: minmax(auto, 230px) 1fr;
    grid-template-rows: none;
  }
}
