.paymentBlockContainer {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.enabled {
  opacity: 1;
  pointer-events: auto;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
