.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.inputContainer {
  display: grid;
  gap: 4px;
}

.inputShare {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  width: 100%; /* Optional: Adjust width as needed */
}

.copiedMessage {
  color: #aaaaaa;
  font-weight: 500;
}

.shareContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f4f7fb;
  color: #aaaaaa;
  height: auto;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.boldLabel {
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
}

.subtitle {
  padding-bottom: 25px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 1.1rem;
  color: black;
  margin-right: 16px;
  display: block;
}

.input {
  width: 100%;
  border-radius: 4px;
  padding: 8px 13px;
  font-size: 1rem;
  background-color: #f4f7fb;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
}

.input:focus {
  box-shadow: 0 0 0 2px lightblue;
}

input.invalid {
  border: 1px solid #ff0000ab;
  background-color: #fdd;
}

span.error {
  color: red;
  font-size: 0.75rem;
  margin-top: 5px;
  display: block;
}

.radioContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radioInputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioContainer > input {
  margin-bottom: 0;
}

.groupLabel {
  font-weight: 600;
  padding: 0 16px;
  font-size: 0.8rem;
  line-height: 25px;
  color: black;
}

.formBtnContainer {
  display: grid;
  gap: 12px;
  grid-template-rows: 1fr 1fr;
}

.btn {
  border-radius: 21.5px;
  padding: 13px 45px;
  outline: 1px solid #170cb4;
  background-color: #170cb4;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  transition: ease-in 200ms;
  background-color: transparent;
  color: #170cb4;
}

.cancelBtn {
  padding: 8px 32px;
  outline: 1px solid black;
  background-color: transparent;
  color: black;
}
.cancelBtn:hover,
.cancelBtn:focus {
  outline: 1px solid blue;
  color: black;
}

.copyBtn {
  width: 100px;
  height: 27px;
  color: #170cb4;
  background-color: white;
  padding: 0%;
  outline: 0px solid transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.copyBtn:hover,
.copyBtn:focus {
  color: #170cb4;
  background-color: white;
  outline: 0px solid transparent;
}

.sendBtn {
  width: 100px;
  height: 27px;
  color: white;
  background-color: #170cb4;
  padding: 0%;
  outline: 0px solid transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.sendBtn:hover,
.sendBtn:focus {
  color: white;
  background-color: #170cb4;
  outline: 0px solid transparent;
}

.submitBtn {
  padding: 8px 32px;
}

.spacer {
  width: 20px;
}

@media (min-width: 769px) {
  .form {
    gap: 18px;
  }
  .formBtnContainer {
    display: flex;
    justify-content: end;
    gap: 12px;
  }
}

.acceptButton {
  width: 100px;
  height: 27px;
  color: white;
  background-color: #e9ffe8;
  padding: 0%;
  outline: 0px solid transparent;
  border-radius: 21.5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.rejectButton {
  width: 100px;
  height: 27px;
  color: white;
  background-color: #ffeeee;
  padding: 0%;
  outline: 0px solid transparent;
  border-radius: 21.5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
